/**----------------------------------------------NAVBAR*/
.nav {
  width: 100%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  width: 100px;
  margin-left: 10px;
}
#navbarNavDropdown {
  justify-content: end;
  margin-right: 4rem;
}
.lineas {
  width: 90%;
  margin: auto;
}
#navbarNavDropdown img {
  width: 25px;
  float: right;
}
.notify {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
}
#count {
  background-color: red;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  visibility: hidden;
}
#nummer {
  color: white;
  font-size: 14px;
}

/**----------------------------------------------SECTION SUSCRIPTION*/
.suscription {
  padding: 2rem;
  width: 100%;
  text-align: center;
}
.suscription h3 {
  font-size: 50px;
  margin-bottom: 2rem;
}
.cont-adresse {
  width: 100%;
  display: flex;
  justify-content: center;
}
.cont-adresse form {
  width: 35%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cont-adresse input {
  width: 90%;
  height: 100%;
  border: 1px solid black;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  font-size: 20px;
  padding-left: 10px;
}
.cont-adresse button {
  background-color: black;
  width: 10%;
  height: 100%;
  border: 1px solid black;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.cont-adresse button img {
  height: 100%;
  width: 100%;
}

/**----------------------------------------------FOOTER*/
.cont-footer {
  background-color: #dddddd;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.social-media {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.social-media img {
  width: 50px;
}
.footer-logo {
  width: 20%;
  text-align: center;
  margin-bottom: 1rem;
}
.footer-logo img {
  width: 150px;
  margin-bottom: 1rem;
}
.footer-logo p {
  font-size: 20px;
}
.footer-info {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.legal {
  padding-right: 1rem;
  border-right: 2px solid black;
}
.terms {
  padding-left: 1rem;
}

/*?----------------------------------------------MEDIA QUERIES 1500 PX*/
@media (max-width: 1500px) {
  .nav {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
  }

  /**-----------------------------------SECTION SUSCRIPTION*/
  .cont-adresse form {
    width: 60%;
  }
  .cont-adresse input {
    width: 88%;
  }
  .cont-adresse button {
    width: 12%;
  }
}

/*?----------------------------------------------MEDIA QUERIES 600 PX*/
@media (max-width: 800px) {
  .nav {
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
  #logo {
    width: 10%;
  }
  .logo {
    width: 70px;
    margin-left: 10px;
  }

  /**-----------------------------------SECTION SUSCRIPTION*/
  .suscription h3 {
    font-size: 35px;
  }
  .cont-adresse form {
    width: 100%;
  }
  .cont-adresse input {
    width: 85%;
  }
  .cont-adresse button {
    width: 15%;
  }

  /**-----------------------------------FOOTER*/
  .cont-footer {
    padding-bottom: 1rem;
  }
  .social-media img {
    width: 40px;
  }
  .footer-logo {
    width: 100%;
  }
  .footer-logo p {
    font-size: 15px;
  }
  .footer-info {
    width: 100%;
  }
}
