/**----------------------------------------------NAVBAR*/
.nav {
  width: 100%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  width: 100px;
  margin-left: 10px;
}
#navbarNavDropdown {
  justify-content: end;
  margin-right: 4rem;
}
.lineas {
  width: 90%;
  margin: auto;
}
#navbarNavDropdown img {
  width: 25px;
  float: right;
}

/**----------------------------------------------SECTION TABLE*/
.cont-table {
  width: 100%;
  margin-top: 6rem;
  height: 70vh;
}
.cont-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.cont-img img {
  width: 100px;
}
.cont-img h2 {
  font-size: 40px;
}
.cont-log {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cont-log p {
  padding: 0;
  margin: 0;
  margin-right: 2rem;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  color: rgb(7, 89, 121);
}
.table {
  width: 100%;
  margin: auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  border: none;
}

.table thead tr {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-bottom: 0.5rem;
  border: none;
  border-bottom: 1px solid black;
}
.table tbody tr {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-bottom: 0.5rem;
  background-color: #89d0e050;
  margin: auto;
}
.table td,
.tl {
  width: 23%;
  border: none;
}

.tl-id {
  width: 5%;
  border: none;
}

/**----------------------------------------------FOOTER*/
.cont-footer {
  background-color: #55b9cf;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.social-media {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.social-media img {
  width: 50px;
}
.footer-logo {
  width: 20%;
  text-align: center;
  margin-bottom: 1rem;
}
.footer-logo img {
  width: 150px;
  margin-bottom: 1rem;
}
.footer-logo p {
  font-size: 20px;
}
.footer-info {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.legal {
  padding-right: 1rem;
  border-right: 2px solid black;
}
.terms {
  padding-left: 1rem;
}

/*?----------------------------------------------MEDIA QUERIES 1500 PX*/
@media (max-width: 1500px) {
  .nav {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
  }

  /**-----------------------------------SECTION SUSCRIPTION*/
  .cont-adresse form {
    width: 60%;
  }
  .cont-adresse input {
    width: 88%;
  }
  .cont-adresse button {
    width: 12%;
  }
}

/*?----------------------------------------------MEDIA QUERIES 800 PX*/
@media (max-width: 800px) {
  .nav {
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
  #logo {
    width: 10%;
  }
  .logo {
    width: 70px;
    margin-left: 10px;
  }

  /**-----------------------------------SECTION SUSCRIPTION*/
  .cont-log {
    width: 80%;
  }

  /**-----------------------------------FOOTER*/
  .cont-footer {
    padding-bottom: 1rem;
  }
  .social-media img {
    width: 40px;
  }
  .footer-logo {
    width: 100%;
  }
  .footer-logo p {
    font-size: 15px;
  }
  .footer-info {
    width: 100%;
  }
}
/*?----------------------------------------------MEDIA QUERIES 600 PX*/
@media (max-width: 600px) {
  .nav {
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
  #logo {
    width: 10%;
  }
  .logo {
    width: 70px;
    margin-left: 10px;
  }

  /**-----------------------------------SECTION SUSCRIPTION*/
  .cont-img h2 {
    font-size: 20px;
  }
  .cont-log {
    width: 80%;
  }
  .cont-log p {
    font-size: 12px;
  }
  .cont-log button {
    font-size: 10px;
  }
  .table {
    font-size: 10px;
  }

  /**-----------------------------------FOOTER*/
  .cont-footer {
    padding-bottom: 1rem;
  }
  .social-media img {
    width: 40px;
  }
  .footer-logo {
    width: 100%;
  }
  .footer-logo p {
    font-size: 15px;
  }
  .footer-info {
    width: 100%;
  }
}
